app = 'fretwise-yt-downloader'
primary_region = 'sjc'

[build]

[env]
  COOKIE_PATH = "/config/cookies.txt"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [http_service.concurrency]
    type = "requests"
    hard_limit = 5
    soft_limit = 3

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[mounts]
  source = "yt_cookies"
  destination = "/config"
